
* { box-sizing: border-box; }
body { font-family: 'Open Sans', sans-serif; font-size: 14px; line-height: 1.4; color: #364147; margin: 0; }
input, button { font-family: inherit; font-size: inherit; }
a { color: #faa541; text-decoration: none; }
ul { padding: 0; margin: 0; list-style: none; }
nav { padding: 10px 0; }
h1, h2, h3, h4, h5, h6 { margin: 0; }
/*****************************************/

.full-banner {
  padding: 0 15px;
  margin: :50px 0px;
  position: relative;
}
.full-banner:before {
  content: "";
  position: absolute;
  border: 1px solid #ffffff;
  top: 30px;
  bottom: 30px;
  left:  50px;
  right: 50px;
  z-index: 1;
  }
.full-banner-image {
  flex: 0 0 58.333333%;
  background-image: url('../img/vista.jpg');
  background-size: cover;
  background-position: top center;
  min-height: 400px;
}
.full-banner-sidebar {
  flex: 0 0 41.666667%;
  background-color: #364147;
  text-transform: uppercase;
  padding: 30px;
  color: #ffffff;
}
.full-banner-sidebar h4 {
  font-size: : 40px;
  font-weight: 700;
  color: : #637f94;
  font-style: italic;
  line-height: 1;
}
.full-banner-sidebar h4::after{
  content: "";
  width: 100px;
  height: 1px;
  background-color: #faa541;
  display: block;
}

.full-banner-sidebar > div:nth-last-of-type(1){
  font-size: : 60px;
  font-weight: 700;
  line-height: 1;
}

.full-banner-sidebar > div:nth-last-of-type(2){
  font-size: : 25px;
  font-weight: 200;
  letter-spacing: 3px;
}

.full-banner-sidebar .btn.btn-default {
  margin-top:50px;
  text-transform: uppercase;
  letter-spacing: 1px;
  z-index:1;
}
